<div class="clock">
  <div class="time" fittext>{{time}} {{meridiem}}</div> 

  <div class="seconds-progress">
    <div class="pre" [style.width.%]="seconds/60*100"></div>
    <div class="post"[style.width.%]="100-(seconds/60*100)"></div>
  </div>

  <div class="day" fittext>{{day}}</div>
  <div class="date" fittext>{{date}}</div>
</div>

<div id="links">
  <ul>
      <li *ngFor="let link of links">
        <a href="{{link.href}}" target="_blank">{{link.title}}</a>
      </li>
  </ul>
</div>

<div class="clear"></div>

<div id="weather">
  <span style="display: block !important; width: 320px; text-align: center; font-family: sans-serif; font-size: 12px;">
      <a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:06062.1.99999&bannertypeclick=wu_clean2day" title="Plainville, Connecticut Weather Forecast" target="_blank">
          <img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_clean2day_cond&airportcode=KMMK&ForcedCity=Plainville&ForcedState=CT&zip=06062&language=EN" alt="Find more about Weather in Plainville, CT" width="300" height="100" />
      </a><br>
      <a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:06062.1.99999&bannertypeclick=wu_clean2day" title="Get latest Weather Forecast updates" style="font-family: sans-serif; font-size: 12px" target="_blank">Click for weather forecast</a>
  </span>
</div>
