
#links{
  float: right;
  width:40%;
  ul{
    padding-right: 1em;
    padding-left: 0;
    list-style: none;
    li{
      line-height: 2em;
      text-align: right;
      &:nth-of-type(odd)
      {
        text-align: right;
      }

      a{
        font-size: 1.4em;
        color:      #5e5e5e;
        text-decoration: none;
        &:link{}
        &:visited{}
        &:hover{font-weight: bold; color: Navy}
        &:active{}
      }
    }
  }

}

#weather{
  position: absolute;
  bottom:10px ;
  left:0;
  right:0;

  >span{
    margin: 0 auto;
  }
}

.clock{
  float:left;
  width: 45%;
  color: #5e5e5e;
  font-family: "Trebuchet MS", Verdana, sans-serif;

  .time{
    line-height: 1em;
    padding-bottom: 0.2em;
    //border: 1px solid red;
  }

  .seconds-progress{
    width: 100%;
    padding: 0;
    height: 10px;

    .pre {
      float:left;
      width: 50%;
      min-height: 100%;
      background-color: navy;
    }

    .post {
      float:left;
      width: 50%;
      min-height: 100%;
      background-color: gold;
    }
  }

  .day{
    //border: 1px solid blue;
    line-height: 1em;
    padding-bottom: 0.2em;
    
  }

  .date{
    //border: 1px solid green;
    line-height: 1em;
  }
}
