@import 'variables';


section {
  margin-bottom: 15px;
}

ul{
  list-style-type: none;
}

 ////////////////////////
.right {
  text-align: right;
}



.fit {
  display: inline-block;
  white-space: nowrap;
}
