@import './variables.scss';

header {
  position: relative;
  height: $header-height;
  width: 100%;

}

nav {
  height: $subnav-height + 10px;
}

main {
  position: absolute;
  top: $header-height + $subnav-height + 10px;
  bottom: $footer-height;
  width: 100%;
  overflow: auto;
}

main.no-sub-menu {
  top: $header-height;
}

footer {
  position: absolute;
  display: flex;
  bottom: 0;
  height: $footer-height;
  line-height: $footer-height;
  width: 100%;

  border-top: 1px solid #bbb;
  background-color: $footer-background-color;
  .footer-left {
    flex: 1;
    padding-left: 10px;
  }
  .footer-right {
    flex: 1;
    text-align: right;
    padding-right: 10px;

  }
}

.logo {
  position: absolute;

  img{
    height: $header-height - $nav-height;
    //padding: 12px 12px 12px 24px;
  }
}

.title {
  position: absolute;
  right: 0;
  text-align: right;
  font-size: 3rem;
  padding: 15px 20px 0 0;
  color: darkred;
  .subtitle {
    font-size: 2rem;
    color: gray;
  }
}
