<div class="grid">

  <div class="grid-find">
    <form>

      <div  class="field" id="grid-find" >
        <label>
          <span class="labeltext">Find</span>
          <input type="text" [(ngModel)]="findtarget"
                             (keyup)="findChange()"
                             [ngModelOptions]="{standalone: true}"/>
        </label>
        <span>Showing {{displayFirst}} to {{displayLast}} of {{filteredItems.length}}</span>

        <button type="button" class="btn-icon grid-add" (click)="add()" >
          <mat-icon title="Add log event." inline="true">add</mat-icon>
        </button>
      </div>
    </form>
  </div>

  <table>
    <thead>
      <tr>
        <ng-template ngFor let-column [ngForOf]="options.columns" let-i="index">
          <th *ngIf="!column.nosort"
              [attr.data-index]="i"
              [class]="cssSort(i)"
              (click)="sortChange(i)"
              [attr.width]="column.width">
            <mat-icon title="sort" inline="true">sort</mat-icon>
            {{column.label}}
          </th>
          <th *ngIf="column.nosort"
              [attr.width]="column.width"
              class="nosort">
            {{column.label}}
          </th>
        </ng-template>

      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let item of displayItems; let index=index; let odd=odd; let even=even;"
          [class.selected]="item.selected"
          [class.odd]="odd"
          [class.even]="even"
          mouseWheel (mouseWheelUp)="mouseWheelUp($event)" (mouseWheelDown)="mouseWheelDown($event)">

        <ng-template ngFor let-column [ngForOf]="options.columns">
            <td *ngIf="!column.custom && !column.dateformat">{{item[column.data]}}</td>
            <td *ngIf="column.dateformat">{{item[column.data] | date: column.dateformat}}</td>
        </ng-template>

        <ng-template  [ngTemplateOutlet]="itemTemplate"
                      [ngTemplateOutletContext]="{$implicit: item}">
        </ng-template>
      </tr>

    </tbody>
    <tfoot>
      <tr *ngIf="displayItems.length === 0">
        <td [attr.colspan]="options.columns.length" class="message">{{messagenodata}}</td>
      </tr>
      <tr *ngIf="displayItems.length !== 0" class="gridpager" >
        <td  [attr.colspan]="options.columns.length">

          <pager [pageSize]="pageSize"
                 [currentPage]="currentPage"
                 [pageLength]="displayItems.length"
                 [filteredItemslength]="filteredItems.length"
                 (pageChanged)="onPageChanged($event)">
          </pager>

        </td>
      </tr>
    </tfoot>
  </table>
</div>
