<div class="resources">
  <h4>HPDE</h4>
  <p>Track day resources</p>
  <ul>
      <li><a href="http://scda1.com/">Sports Car Drivers Association</a></li>
      <li><a href="http://automobileassociates.com/">Automobile Associates of Canton</a></li>
      <li><a href="https://store.excelerateperformance.com/">XLR8 Performance</a></li>

  </ul>

  <h4>RC</h4>
  <p>Radio Control Aviation</p>
  <ul>
      <li><a href="https://www.horizonhobby.com">Horizon Hobby</a></li>
      <li><a href="https://www.amainhobbies.com/">Amain Hobbies</a></li>
      <li><a href="https://www.helidirect.com/">Heli Direct</a></li>
      <li><a href="http://www.aligntrexstore.com">Align Trex Store</a></li>
      <li><a href="https://extremeflightrc.com/">Extreme Flight</a></li>
      <li><a href="https://twistedhobbys.com/">Twisted Hobbys</a></li>
      <li><a href="http://www.chiefaircraft.com">Chief Aircraft</a></li>

  </ul>
</div>
