

.layout {
    display:flex;
}

.layout-horizontal {
    flex-direction: row;
    align-items: center;
}

.justify-right {
    justify-content: flex-end;
}

.justify-expand {
    justify-content: space-between;
}