<div class="pager">
  <div class="pager-pagesize">
    <form>
      <div class="field pageselect">
          <label>
            <span class="labeltext">Page size</span>
            <select [(ngModel)]="pageSize"
                    (change)="pageSizeChange();"
                    [ngModelOptions]="{standalone: true}">
              <option [ngValue]="10" selected>10</option>
              <option [ngValue]="15">15</option>
              <option [ngValue]="25">20</option>
              <option [ngValue]="50">50</option>
            </select>
          </label>
      </div>
    </form>
  </div>

  <div class="pager-info">
      <span>Page {{currentPage+1}} of {{lastPage + 1}}</span>
  </div>

  <div class="pager-select">

    <button type="button" class="btn-icon" [disabled]="currentPage === 0" (click)="requestPage(0)">
      <mat-icon  title="First" inline="true">first_page</mat-icon>
    </button>
    <button type="button" class="btn-icon" [disabled]="currentPage === 0" (click)="requestPage(currentPage-1)">
      <mat-icon  title="Previous" inline="true">navigate_before</mat-icon>
    </button>

    <ng-template ngFor let-page [ngForOf]="pagerPages">
        <button type="button"
                class="pager-picker"
                [class.pager-current]="page === currentPage"
                (click)="requestPage(page)">
            {{page + 1}}
          </button>
    </ng-template>

    <button type="button" class="btn-icon" [disabled]="currentPage === (lastPage)" (click)="requestPage(currentPage+1)">
        <mat-icon  title="Next" inline="true">navigate_next</mat-icon>
    </button>
    <button type="button" class="btn-icon" [disabled]="currentPage === (lastPage)" (click)="requestPage(lastPage)">
        <mat-icon title="Last" inline="true">last_page</mat-icon>
    </button>
  </div>
</div>
