<div class="theme-light">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <a class="navbar-brand" routerLink="/home"> X </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/home">
              <span class="ui-icon ui-icon-home"></span> Home
            </a>
          </li>

          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/weather">
              <span class="ui-icon ui-icon-lightbulb"></span> Weather
            </a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Links
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="https://mail.google.com" target="_blank">eMail</a>
              <a class="dropdown-item" href="https://www.google.com/calendar/render?tab=mc" target="_blank">Calendar</a>
              <a class="dropdown-item" href="https://drive.google.com" target="_blank">Drive</a>
              <a class="dropdown-item" href="https://plus.google.com" target="_blank">Google+</a>
              <a class="dropdown-item" href="https://play.google.com" target="_blank">Play Store</a>
            </div>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </header>

  <div id="content" class="container">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <div class="footer-left">
      <button id="themeButton" class="navbar-right icon-button glyphicon-adjust"></button>
    </div>
    <div class="footer-center">ver {{version}}</div>
    <div class="footer-right">&#169; {{year}} Thom Stilwill</div>
  </footer>
</div>
