
<div class="tool">
  <h4>Tools</h4>
  <p>Development Bits and Pieces</p>
  <ul>
      <li><a href="~/Static/BCompare-4.1.9.21719.exe">Beyond Compare</a></li>
      <li><a href="~/Static/7z920-x64.msi">7Zip</a></li>
      <li><a href="~/Static/GitHubSetup.exe">Github</a></li>
      <li><a href="~/Static/GitHubDesktopSetup.exe">Github Desktop</a></li>
      <li><a href="~/Static/fiddler4setup.exe">Fiddler</a></li>
      <li><a href="~/Static/node-v10.11.0-x64.msi">Node</a></li>
      <li><a href="~/Static/npp.7.5.8.Installer.x64.exe">Notepad++</a></li>
      <li><a href="~/Static/VSCodeUserSetup-x64-1.27.2.exe">VSCode</a></li>
  </ul>
</div>

<br/>
<div class="resources">
  <h4>Resources</h4>
  <p>Online Development Tools and Information</p>
  <ul>
      <li><a href="https://regex101.com/">Regex 101</a></li>
      <li><a href="https://chrome-extension-downloader.com/">Chrome Extension Downloader</a></li>
      <li><a href="https://tiddlywiki.com/">Tiddly Wiki</a></li>
      <li><a href="https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow">GIT Workflow</a></li>
      <li><a href="https://angular.io/docs">Angular Docs</a></li>
      <li><a href="http://jstherightway.org">Javascript the Right Way</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference">Javascript MDN Reference</a></li>
  </ul>

</div>

