<form [formGroup]="formGroup" (submit)="submit(formGroup)">

  <div class="validation-banner" *ngIf="showBanner()">
    <mat-icon inline="true">report</mat-icon>
    Please fix issues and try again.
  </div>

  <ng-content></ng-content>

  <div class="button-bar">
    <button type="button" (click)="validate(formGroup)">Validate</button>
    <button type="button">very long button name</button>
    <button type="reset" (click)="cancel(null)">
      <mat-icon title="Cancel" inline="true">clear</mat-icon>
    </button>
    <button type="submit" [disabled]="!formGroup.valid">
      <mat-icon title="Save" inline="true">done</mat-icon>
    </button>
  </div>
</form>

<pre *ngIf="debug">Values: {{ formGroup.value | json  }}
</pre>
<pre *ngIf="debug">Fields: {{ fields | json  }}
</pre>
<!-- <pre *ngIf="debug">Controls: {{ formGroup.controls }}
</pre> -->
