#links{
  float: right;
  ul{
    padding-right: 2em;
    margin-left: 0em;
    list-style: none;

    li{
      line-height: 2em;
      text-align: right;
      &:nth-of-type(odd)
      {
        text-align: right;
      }

      a{
        font-size: 1.4em;
        color:      #5e5e5e;
        text-decoration: none;
        &:link {
          text-decoration: none;
        }
        &:visited {
          text-decoration: none;
        }
        &:hover {
          font-weight: bold; color: Navy
        }
        &:active {
          text-decoration: none;
        }
      }
    }
  }
}

#locationSelector {
  width: 200px;
}

#weather{
  position: absolute;
  bottom:0px ;
  left:0;
  right:0;
  // height:197px;
  text-align: center;
  overflow: hidden;

  mat-form-field {
    margin-bottom: 0;
  }
}

#clock{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  float:left;
  border: 0px dotted #e7e7e7;
  padding: 1em;
  width: 40%;
  color: #5e5e5e;

  #time{
    font-size: 4em;
    line-height: 1em;
    color:goldenrod;
  }

  #seconds{
    height:0px;
    margin: 0 0 20px 0;
  }

  #day{
    margin-right:30%;
    line-height: 1em;
  }
  #date{
    margin-top: 10px;
    line-height: 1em;
    color: rgb(17,72,138);
  }

  #spacer{
    display:inline-block;
  }

  #tick{
    display:inline-block;
    width:10px;
    height:10px;
    background-color: navy;
  }

}
