<div id="clock">
  <div id="time">{{time | date: 'h:mm a'}}</div>
  <div id="seconds"><span id="spacer"></span><span id="tick"></span></div>
  <div id="day">{{time | date: 'EEEE'}}</div>
  <div id="date">{{time | date: 'longDate'}}</div>
  <span id="second"></span>
</div>

<div id="links">
  <br/>

  <div class="loading-wrapper">
    <span >{{(loading$ | async)}}</span>
  </div>

  <ul>
      <li *ngFor="let link of links$ | async">
        <a mat-button target="_blank" href="{{link.href}}">{{link.name}}</a>
      </li>
  </ul>
</div>

<div id="weather">
  <mat-form-field appearance="fill" id="locationSelector">
    <mat-label>Weather Location</mat-label>
    <mat-select [(value)]="selectedLocation" (selectionChange)="onChange($event)" placeholder="Weather Location">
      <mat-option *ngFor="let v of values" [value]="v.id">
        {{v.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <a class="weatherwidget-io" data-theme="clear" data-days="5" font="Play"></a>
  </div>
</div>
