<mat-form-field appearance="fill">

  <mat-label>{{label}}</mat-label>

  <input
      matInput
      #textinput
      formControlName="formControlName"
      placeholder="{{placeholder}}"
      [value]="value"
      [readonly]="readonly"
      (input)="onChange($event.target.value)"
      (keyup)="onChange($event.target.value)"
      (focus)="$event.target.select()"
      (blur)="onTouched()" />

  <mat-hint>{{hint}}</mat-hint>

  <mat-error *ngIf="control.errors.required">
    required
  </mat-error>

  <mat-error *ngIf="control.errors.max">
    max
  </mat-error>

  <mat-error *ngIf="control.errors.min">
    min
  </mat-error>

  <mat-error *ngIf="control.errors.even">
    even
  </mat-error>

  <!-- <mat-error *ngFor="let error of control.errors">
      error {{error}}
  </mat-error> -->


</mat-form-field>
