<mat-form-field
  appearance="fill"
  [hideRequiredMarker]="false"
  [floatLabel]="true"
  [class.field-readonly]="readonly"
  >

  <mat-label>{{label}}</mat-label>


  <input
      matInput
      #textinput
      formControlName="formControlName"
      placeholder="{{placeholder}}"
      [value]="fieldvalue"
      [readonly]="readonly"
      (input)="onChange($event.target.value)"
      (keyup)="onChange($event.target.value)"
      (focus)="$event.target.select()"
      (blur)="onTouched()" />

  <mat-hint>{{hint}}</mat-hint>

  <mat-error>
    <!-- <validation-messages
      controlName="{{formControlName}}"
      [control]="control"
      label="{{label}}"
      [validationMessages]="validationMessages"
      >
    </validation-messages> -->

  </mat-error>
</mat-form-field>
