<mat-form-field appearance="fill">
  <input
      matInput
      #input
      formControlName="formControlName"
      placeholder="{{placeholder}}"
      [value]="value"
      [errorStateMatcher]="errorMatcher()"

      [readonly]="readonly"
      [disabled]="disabled"

      (input)="onChange($event.target.value)"
      (focus)="$event.target.select()"
      (blur)="onTouched()"
      />
  <mat-hint>{{hint}}</mat-hint>
  <mat-label>{{label}}</mat-label>
  <mat-error>
    <validations [control]="control" [label]="label"  [validations]="validations">
    </validations>
  </mat-error>
</mat-form-field>
