<h3>
  Maintenance Schedule
</h3>

<button type="button" class="btn-icon" (click)="add()" title="Add log event."><fa-icon [icon]="addIcon"></fa-icon></button>
<table class="grid">
  <thead>
    <tr>
    <td *ngFor="let key of keys">
      {{key | uppercase }}
    </td>
    <td>action</td>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td *ngFor="let key of keys">
          {{item[key]}}
      </td>
      <td>
        <button type="button" class="btn-icon" (click)="edit(item)"  title="Edit log event."><fa-icon [icon]="editIcon"></fa-icon></button>
        <button type="button" class="btn-icon" (click)="delete(item)"  title="Delete log event."><fa-icon [icon]="deleteIcon"></fa-icon></button>
      </td>
    </tr>
  </tbody>
  <tfoot>

  </tfoot>
</table>

<app-modal id="editschedule" class="modal__medium">
  <div #parent></div>
</app-modal>
