<app-grid [items]="vehicles"
          [options]="gridoptions"
          (addEvent)="add()"
          (editEvent)="edit($event)"
          (copyEvent)="copy($event)"
          (deleteEvent)="delete($event)">

  <ng-template let-item>
    <td>
      <button type="button" class="btn-icon" (click)="edit(item)" title="Edit item.">
        <fa-icon [icon]="editIcon"></fa-icon>
      </button>
      <button type="button" class="btn-icon" (click)="delete(item)" title="Deleteitem.">
        <fa-icon [icon]="deleteIcon"></fa-icon>
      </button>
      <button type="button" class="btn-icon" (click)="copy(item)" title="Copyitem.">
        <fa-icon [icon]="copyIcon"></fa-icon>
      </button>
      <button type="button" class="btn-icon" [class.selected]="item.selected" (click)="select(item)" title="Select item.">
        <fa-icon [icon]="selectIcon"></fa-icon>
      </button>
    </td>
  </ng-template>

</app-grid>

<app-modal id="{{modalName}}" class="modal__medium">
  <div #parent></div>
</app-modal>
