<main>

  <div class="form-wrapper">
    <form [formGroup]="form">

      <h3>Test Form</h3>

      <text
        formControlName="count"
        label="Count"
        hint="Just put in a number, plz!"
        placeholder="how many?"
        [validations]="countValidations"
        >
      </text>

      <input type="checkbox" formControlName="disabled" > Disable
      <input type="checkbox" formControlName="readonly" >Readonly

      <br/>

      <text formControlName="name" label="Name" [validations]="nameValidations"></text>
      <text formControlName="amount" label="Amount" ></text>
      <text formControlName="decimals" label="Decimals" ></text>
      <text formControlName="quantity" label="Quantity" ></text>

      <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="2em" >
        <div fxFlex="50">
          <dropdown formControlName="from" label="From" placeholder="From State" [items]="states" [validations]="stateValidations"></dropdown>
        </div>
        <div fxFlex="50">
          <dropdown formControlName="to" label="To" placeholder="From State" [items]="states" [validations]="stateValidations"></dropdown>
        </div>
      </div>

      <div mat-dialog-actions>
        <button mat-button color="primary" [disabled]="!form.valid" type="submit">Save</button>
      </div>
    </form>

    <pre>{{form.value | json}}</pre>
    <pre>{{formstate | json}}</pre>
    <!-- <pre>Form Errors: {{form.errors | json}}</pre> -->
  </div>
</main>
